/Pso_Search_With_Division/data/ResultBin/*
/CodeProject/Pso_Search_With_Division22/data/ResultBin/*
/CodeProject/PSO_Minimal_Exposure_Path/data/ResultBin/*
/CodeProjectSensorThayDoi/PSO_Minimal_Exposure_Path/data/ResultBin/*
/CodeProjectSensorThayDoi/Pso_Search_With_Division22/data/ResultBin/*